.container2 {
    width : 100%;
    height: 622px;
    background: #020202;
    flex-shrink: 0;
    position: relative;
    display: flex; 
    justify-content:space-around;
    align-items: center;
}

.left-gradient {
    position :absolute;
    top : 0px ;
    left:0px ;
    width: 610.192px;
    height: 610.192px;
    flex-shrink: 0;
    border-radius: 610.192px;
    background: radial-gradient(65.33% 65.33% at 33.07% 31.15%, rgba(3, 232, 251, 0.57) 0%, rgba(18, 74, 166, 0.44) 100%);
    filter: blur(25px); 
    transform: translate(-40% , -40%);
}
.right-gradient {
    position :absolute;
    bottom : 0px ;
    right:0px ;
    width: 668.122px;
    height: 668.122px;
    border-radius: 668.122px;
    background: radial-gradient(65.33% 65.33% at 33.07% 31.15%, rgba(3, 232, 251, 0.28) 0%, rgba(18, 74, 166, 0.22) 100%);
    filter: blur(27.373455047607422px);
    transform: translate(40% , 40%);
}

.leftView {
    display: flex;
    flex-direction: column;
    gap : 24px;
}

.rightView {
    width: 535px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid #04D8F2;
    background: #031635;
    box-shadow: 0px 8px 15px 0px rgba(2, 155, 251, 0.20), 0px 2px 4px 0px rgba(2, 155, 251, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
}

.lineData {
    margin:4px;
    color: #FFF;
    font-family: 'Space Mono';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}  

#item1,#item8{
    color: #E83DA3;
    text-align: center;
    font-family:'Space Mono';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}  

.lineData .style1 {
    color: #03E8FB;
font-family:'Space Mono';
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.lineData .style2 {
    color: #FFF;
font-family: 'Space Mono';
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.bullet-points {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: start;
}
.line_block_2{
    width: 2px;
    background: #00B7CD;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 5%;
}