.home {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #020202;
  position: relative;
  overflow: hidden;
}
.video_player {
  position: absolute;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.top_gradient {
  width: 500px;
  height: 500px;
  position: absolute;
  top: -10%;
  left: -10%;
  transform: rotate(45deg);
  background: white;
  z-index: 0;
  border-radius: 50%;
  background: radial-gradient(
    65.33% 65.33% at 33.07% 31.15%,
    rgba(3, 232, 251, 0.57) 0%,
    rgba(18, 74, 166, 0.44) 100%
  );
  filter: blur(25px);
}
.side_attach {
  width: 60px;
  height: auto;
  position: absolute;
  border-radius: 0px 32px 32px 0px;
  background: linear-gradient(
    179deg,
    rgba(217, 217, 217, 0.41) 0%,
    rgba(217, 217, 217, 0.08) 100%
  );
  backdrop-filter: blur(25px);
  left: 0;
  top: 50%;
  padding: 32px 16px;
  transform: translate(0, -50%);
  z-index: 10;
  display: inline-flex;
  /* height: 241px; */
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
  flex-shrink: 0;
  /* background: white; */
}
.social_svg {
  /* width: 24px;
  height: 24px; */
  cursor: pointer;
}
.content_box {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 64px;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 5;
  padding-top: 150px;
  color: white;

  /* background-color: aliceblue; */
}
.hero_heading_section {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.hero_heading {
  color: #fff;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* width: 50%; */
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 14px;
}
.hero_heading span {
  background: var(
    --LINEAR1,
    linear-gradient(93deg, #03e8fb 26.93%, #124aa6 92.06%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero_sub_heading {
  /* width: 50%; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #d9d9d9;
}
.hero_button_section {
  display: flex;
  gap: 48px;
}
.button_start {
  width: 190px;
  height: 48px;
  padding: 12px 24px;
  gap: 10px;
  border-radius: 10px;
  background: #04d8f2;
}
.ecosystem{
  display: flex;
padding: 12px 20px 12px 24px;
justify-content: center;
align-items: center;
gap: 8px;
color: #ffffff;
background: rgba(0, 0, 0, 0.676);

}
