/* App.css */
.navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent; /* Make the background transparent */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
}
/* .navbar :active{
    
} */
.activeNavbar {
  background-color: #020202;
}
.LogoLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 50px;
}
.logo img {
  height: 70px; /* Adjust the height of your logo */
}

.links {
  display: flex;
  list-style: none;
  padding: 0;
}

.links a {
  text-decoration: none;
  margin: 0px 15px;
  color: white; /* Link text color */
}

.menu-icon {
  display: none; /* Hide the menu icon by default */
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.button button {
  background-color: #020202; /* Button background color */
  color: white; /* Button text color */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #029bfb;
}
/* Media query for responsive menu */
@media (max-width: 768px) {
  .links {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    background-color: #333; /* Background color for the mobile menu */
    transition: 0.3s;
  }

  .links.open {
    left: 0;
  }

  .menu-icon {
    display: block; /* Show the menu icon for smaller screens */
  }
}
.shuffle {
  width: 100px;
}
